@import '_colors';
@import '_fonts';

.login-btn {
    background-color: var(--purple);
    border: 1px solid var(--login-btn-border);
    border-radius: 6px;
    width: 150px;
    font-family: var(--heading-desk-font);
    color: var(--white);
    padding: 8px 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    @media (max-width: 750px) {
        width: 100px;
    }
    &--form {
        width: 100%;
        margin: 20px 0;
        height: 40px;
    }
    &--my-account {
        width: 100%;
        padding: 10px;
        margin: 20px 0;
        line-height: 160%;
        @media (min-width: 600px) {
            width: 400px;
            height: 60px;
            padding: 10px 100px;
        }
    }
    &--products {
        font-family: var(--heading-stores);
        font-size: 9px;
        text-transform: uppercase;
        width: auto;
        padding: 5px 10px;
        &:focus{
            background-color: var(--white);
            color: var(--purple);
         }
    }
    &--chart {
        width: 200px;
        margin-top: 20px;
    }
}

.btn-quantity {
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 0 5px 20px;
    font-size: var(--heading-desk-font);
    font-size: 20px;
    background-color: var(--white);
    &--delete {
        margin-right: 30px;
    }
}