.main {
    background-color: #ffc22628;
}
.conditions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: justify;
    margin-top: 100px;
}
