.footer-container{
    display:flex;
    justify-content: center;
    background-color: var(--nav-desk);
    &__item{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        padding:10px;
        margin:10px;
        height:200px;
    }
}

.footer-container__item-enlaces{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

