@import '_fonts';
@import '_colors';

.header__nav-link {
    font-family: var(--heading-desk-font);
    text-decoration: none;
    font-size: 18px;
    color: var(--black); 
    @media (max-width: 900px) {
        font-size: 16px;
    }
    @media (max-width: 750px) {
        font-size: 14px;
    }
    &--categories{
        font-family: var(--nav-desk-font);
        font-size: 12px;
        margin-right: 30px;
        &:hover {
            text-decoration: underline;
        }
    }
}