
.products{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    &__container{
        margin:15px;
    }
}
.products__image-container{
    width: 250px;
    
}
.products__image-img{
    width:100%;
}
.product-price-color{
    color:#7C1044;
    font-size:18px;
    margin-block-start: 3px;
}

@media only screen and (max-width: 600px) {
    .products{
        width:100%;
    }
}