@import './styles/header';
@import './styles/categoryNav';
@import './styles/registerAndLogin';
@import './styles/footer';
@import './styles/myAccount';
@import './styles/stores';
@import './styles/about';
@import './styles/storeDetail';
@import './styles/shoppingCart';

.prueba {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}